In [2]:
#print 0 to 200 by using range 
for x in range(0,20):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
#print range 10 to 20 
for x in range(10,20):
    print(x, end=' ')

10 11 12 13 14 15 16 17 18 19

In [16]:
# print number of items in the list by using 'len'

list=[10,20,14,55,43,87,76]
print(list)
print("Number of item in the List2:",len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [21]:
# print Artificial Intelligence
mainvariable= input()
for temp in mainvariable:
    print(temp)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
x=input()
print(x)
y=input()
print(y)
z=input()
print(z)

 -Your name-

-Your name-

 -Your Age-

-Your Age-

 -Your Profession-

-Your Profession-

In [24]:
#print mixed datatype using tuples
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [13]:
#print tuples
tuples1=(0,1,2,3)
tuples2=('python','Hope')
tuples3=tuples1,tuples2
print(tuples3)

((0, 1, 2, 3), ('python', 'Hope'))

In [11]:
#print odd numbers in the list 
list =[20,10,16,19,25,1,276,188]
print(list)
for x in list:
    if (x%2==1):
        print(x, "is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [12]:
#print even numbers in the list 
list =[20,10,16,19,25,1,276,188]
print(list)
for x in list:
    if (x%2==0):
        print(x, "is even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even